@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

body {
    background-color: var(--Very-light-gray);
    font-size: 15px;
}

section {
    padding: 48px 50px;
}

p {
    color: var(--Transparent-white);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.5;
}

h2 {
    color: var(--Very-light-gray);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}

button {
    border-radius: 50px;
    border-style: none;
    height: 48px;
    width: 146px;
}

/* ------ Mobile ------ */

.main-container {
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 1326px;
    margin: auto;
    overflow: hidden;
    width: 327px;    
}

/* ------ Sedans ------ */

.top-container {
    background-color: var(--Bright-orange);
}

.top-container img {
    margin-bottom: 35px;
}

.top-container button {
    color: var(--Bright-orange);
}

/* ------ SUVs ------ */

.mid-container {
    background-color: var(--Dark-cyan);
}

.mid-container img {
    margin-bottom: 35px;
}

.mid-container button {
    color: var(--Dark-cyan);
}

/* ------ Luxury ------ */

.bot-container {
    background-color: var(--Very-dark-cyan);
}

.bot-container img {
    margin-bottom: 35px;
}

.bot-container button {
    color: var(--Dark-cyan);
}

/* ------ Footer ------ */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ------ Desktop ------ */

@media only screen and (min-width: 680px) {

    p{
        margin-bottom: 83px;
    }

    .main-container{
        flex-direction: row;
        height: 500px;
        margin: auto;
        width: 920px;
    }
}